@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.native-scroll{
    -webkit-overflow-scrolling: touch;
}


@media screen and (orientation: landscape) {
    .mediaManage {
     display: none;
    }
  }
  
/* Customize Firefox scrollbar */
/* Track */
::-moz-scrollbar-track {
    background-color: #1BD79E80;
    border-radius: 10px;
}

/* Thumb */
::-moz-scrollbar-thumb {
    background-color: #1BD79E;
    border-radius: 10px;
}

/* Customize Chrome scrollbar */
/* Track */
::-webkit-scrollbar-track {
    background-color: #1BD79E80;
    border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #1BD79E;
    border-radius: 10px;
}
